/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2017, 22:25:29
    Author     : Eduardo
*/

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    height: 2rem;
    margin: 0;
}

.col.s6, .col.s5{
    padding: 0;
}

.flex-container{
    display: flex
}

.auto-margin{
    margin: auto;
}