/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2017, 22:25:29
    Author     : Eduardo
*/

.card-input {
    height: 2rem !important;
    margin: 0 !important;
}

.col.s6, .col.s5{
    padding: 0;
}

.flex-container{
    display: flex
}

.auto-margin{
    margin: auto;
}

.menu-li{
    display: block !important;
    width: 100% !important;
}

.menu-usr-nome{
    width: 100%;
    text-align: center;
}